body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	background-color: #b1c4df;
}

a {
	color: #00B7FF;
}

#header {
	background-color: #f2b479;
	height: 24px;
	border-bottom: 1px solid #a6784b;
	padding: 8px;
}

#content {
	margin: 0px;
	padding-top: 10px;
}

#loading {
  text-align: center;
}

/*Grid*/
.row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    text-align:center;
}
.col {
    display: table-cell;
	vertical-align: middle;
}
.center {
	width: 70%;
}


/*Tiles */

.tile {
	display: none;
}

#tiles > div {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	background-color: #FFFFFF;
	float: left;
	width: 100%;
	padding-bottom: 13px;
	margin: 0 10px 10px 0;
	border-radius: 3px;
}

.tile-frame {
	margin: 5px;
}

.tile-title {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 2px;
	white-space: nowrap;
}

.tile-price {
	display: block;
}

.tile-img {
	height: 220px;
	background-size: cover;
	width: 100%; 
	margin: 8px 0px 8px 0px;
}

/* Prev and Next buttons */
.icon {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.next {
	background-image: url(/images/chevron-right.png);
}

.prev {
	background-image: url(/images/chevron-left.png);
}

/* Small devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.center {
		width: 90%;
	}
	#tiles > div {
		width: 30%;
	}
}

/* Desktop devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
	.center {
		width: 90%;
	}
	#tiles > div {
		width: 19%;
	}
}