<div id="loading" class="spinner">
	    Loading...
</div>

<div class="row">
    <div class="col">C1</div>
    <div class="col center">
		<div id="tiles">
			
		</div>
    </div>
    <div class="col">C3</div>
</div>



<script id="tile-template" type="text/plain">
	<div class="box fill round tile">
        <div class="tile-frame" title="%%title%%" href="http://www.marktplaats.nl" target="_blank">
			<span class="text tile-price">%%price%%</span>
			<!-- <div class="tile-img" style="background-image: url(%%img%%);"></div> -->
            <img class="tile-img" alt="%%title%%" src="%%img%%">
            <span class="text tile-title">%%title%%</span>
        </div>            
    </div>
</script>

<script type="text/javascript">
	
	//xhr request for modern browsers in 130 bytes. yay! https://gist.github.com/azproduction/1625623
	var tiny_xhr = function(m,u,c,d){with(new XMLHttpRequest)onreadystatechange=function(){readyState^4||c(this)},open(m,u),send(d)};

	var showTiles = function (tilesJSON) {

		var template = document.getElementById("tile-template").innerHTML,
			tilesList = document.getElementById("tiles"),
			tilesElems = [];

		tilesJSON.forEach(function (tile) {

			tileItem = template;

			tileItem = tileItem.replace(/%%title%%/g, tile.title);
			tileItem = tileItem.replace(/%%price%%/g, accounting.formatMoney(tile.price, "€ ", 2, ".", ","));
			tileItem = tileItem.replace(/%%img%%/g, tile.img);

			tilesElems.push(tileItem);
		});

		document.getElementById("loading").style.display = "none";
		tilesList.innerHTML = tilesElems.join("");
		
	}
	
	var fetchData = function () {
		tiny_xhr('get', '/cars', function (xhr){	
			if(xhr.responseText) {
				showTiles(JSON.parse(xhr.response));
			}
		});
	}	

	document.addEventListener("DOMContentLoaded", function(event) {
    	console.log("DOM fully loaded and parsed");


    	setTimeout(function () {
    		fetchData();
    	}, 1000);
		// tiny_xhr('get', '/cars', function (xhr){
		
		// if(xhr.response && xhr.response.length > 0) {

			// showTiles(xhr.response)
		// }
		// 	console.log(xhr.response);
		// });

	});


/*
TODO:
carusel (the ajax request stay the same)
image resize

TO OPTIMIZE:
send the request on page load and wait DOMContentLoaded to actually show the results on the UI
use promises

Important to mention:
new /cars endpoint allow me to move the data filtering in the backend


*/


</script>


