<div id="loading" class="spinner">
	    Loading...
</div>

<ul id="tiles">
	
</ul>

<script id="tile-template" type="text/plain">
	<li class="box fill round tile">
        <a class="tile-frame" title="%%title%%" href="http://www.marktplaats.nl" target="_blank">
			<span class="tile-price">%%price%%</span>
            <img class="tile-img" alt="%%title%%" src="%%img%%">
            <span class="tile-title">%%title%%</span>
        </a>            
    </li>
</script>

<script type="text/javascript">
	
	//xhr request for modern browsers in 130 bytes. yay! https://gist.github.com/azproduction/1625623
	var tiny_xhr = function(m,u,c,d){with(new XMLHttpRequest)onreadystatechange=function(){readyState^4||c(this)},open(m,u),send(d)};

	var showTiles = function (tilesJSON) {

		var template = document.getElementById("tile-template").innerHTML,
			tilesList = document.getElementById("tiles"),
			tilesElems = [];

		tilesJSON.forEach(function (tile) {

			tileItem = template;


			tileItem = tileItem.replace(/%%title%%/g, tile.title);
			tileItem = tileItem.replace(/%%price%%/g, tile.price);
			tileItem = tileItem.replace(/%%img%%/g, tile.img);

			tilesElems.push(tileItem);
		});

		document.getElementById("loading").style.display = "none";
		tilesList.innerHTML = tilesElems.join("");
		
	}
	
	var fetchData = function () {
		tiny_xhr('get', '/cars', function (xhr){	
			if(xhr.responseText) {
				showTiles(JSON.parse(xhr.response));
			}
		});
	}	

	document.addEventListener("DOMContentLoaded", function(event) {
    	console.log("DOM fully loaded and parsed");


    	setTimeout(function () {
    		fetchData();
    	}, 2000);
		// tiny_xhr('get', '/cars', function (xhr){
		
		// if(xhr.response && xhr.response.length > 0) {

			// showTiles(xhr.response)
		// }
		// 	console.log(xhr.response);
		// });

	});


/*
TODO:
Currency format
carusel
image resize

TO OPTIMIZE:
send the request on page load and wait DOMContentLoaded to actually show the results on the UI
use promises

Important to mention:
new /cars endpoint allow me to move the data filtering in the backend


*/


</script>


