<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/lib/handlebars-v3.0.0.js"></script>
	<script src="/lib/accounting.js"></script>
	<link rel="stylesheet" href="http://css-spinners.com/css/spinner/spinner.css" type="text/css">
  </head>
  <body>
	<div id="header">
		<img src="//s.marktplaats.com/aurora/res/images/logos/marktplaats-logo.png" width="80%" height="auto" alt="Marktplaats">
	</div>
	<div id="content">
    	{{{body}}}
	</div>
  </body>
</html>