<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/spinner.css" type="text/css">
	
	<script src="/lib/handlebars-v3.0.0.js"></script>
	<script src="/lib/accounting.js"></script>
  </head>
  <body>
	<div id="header">
		<img src="//s.marktplaats.com/aurora/res/images/logos/marktplaats-logo.png" width="80%" height="auto" alt="Marktplaats">
	</div>
	<div id="content">
    	{{{body}}}
	</div>
  </body>
</html>