<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="header">
		<img src="//s.marktplaats.com/aurora/res/images/logos/marktplaats-logo.png" width="200" height="21" alt="Marktplaats">
	</div>
	<div id="content">
    	{{{body}}}
	</div>
  </body>
</html>